.team-heading {
  background-color: #804674;
  color: white;
  height: 150px;
}

.team-area {
  max-width: 1000px;
  margin: 3em auto;
  flex-wrap: wrap;
}

.employee-card {
  margin: 1em;
  max-width: 280px;
  width: 90%;
  min-height: 22rem;
  background-color: #a86464;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border: none;
  border-radius: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4c988;
}

.list-group-item {
  color: black;
  text-decoration: none;
}
